<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:fragment = "header">
    <div class="top-right">
        <ul sec:authorize="!isAuthenticated()">
            <li><a th:href="@{/register}">Register</a></li>
            <li><a th:href="@{/login}">Login</a></li>
        </ul>
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="POST">
                <div>
                    <label>Hi, <span sec:authentication="name">Username</span></label>
                </div>
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
    <h1>Rhapsody of Flavors</h1>
    <div>
        <ul class="nav-menu">
            <li><a th:href="@{/}">Home</a>
                <!-- <li><a href="#">Popular</a></li> -->
            <li><a href="/rank">Recipe ranking</a></li>
            <ul sec:authorize="isAuthenticated()">
            <li><a href="/createPost">Create post</a></li>
            </ul>
        </ul>
    </div>
</div>

<div th:fragment = "top-search">
    <div class="top-search">
        <form action="#" th:action="@{/}" method="post" th:object="${ingr}">
            <input type="text" th:field="*{name}" placeholder="Search..." name="search">
            <input type="submit" value="Search">
        </form>
        <form action="#" th:action="@{/}" method="post" th:object="${ingr}">
            <select th:field="*{ingrdts}" id="ingrdts" multiple>
                <option th:each="i : ${T(com.example.recipeswebsite.model.CategoryInterface.Categories).values()}" th:value="${i}" th:text="${i}"></option>
            </select>
            <input type="submit" value="Filter">
        </form>

    </div>
</div>

<div th:fragment = "left-search">

    <form action="#" th:action="@{/}" method="post" th:object="${ingr}">
        <input type="text" th:field="*{name}" placeholder="Search..." name="search">
        <input type="submit" value="Search">
    </form>
    <form action="#" th:action="@{/}" method="post" th:object="${ingr}">
        <select th:field="*{ingrdts}" id="ingrdts" multiple>
            <option th:each="i : ${T(com.example.recipeswebsite.model.CategoryInterface.Categories).values()}" th:value="${i}" th:text="${i}"></option>
        </select>
        <input type="submit" value="Filter">
    </form>

</div>
</html>
