body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-color: #f9f6f0e2;
    margin: 0;
    padding: 20px;
}

nav ul{
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li{
    float: left;
}

nav .search-bar{
    float: right;
}

nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

.recipe-post {
    background-color: #ffffffd9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.recipe-header {
    margin-bottom: 10px;
    text-align: center;
}

.recipe-header h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 5px;
}

.recipe-header p {
    color: #666;
    font-style: italic;
    font-size: small;
}

.recipe-content {
    display: flex;
}

.recipe-image {
    width: auto;
    display: block;
    text-align: center;
}

.recipe-image img {
    max-width: 60%;
    height: auto;
    border-radius: 5px;
}

.recipe-details {
    width: 60%;
}

.recipe-details p {
    color: #333;
    margin-bottom: 10px;
}

.recipe-details h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 5px;
}

.recipe-details ul {
    margin-left: 20px;
    margin-bottom: 10px;
    list-style-type: disc;
}

.recipe-details ul li {
    color: #333;
    margin-bottom: 5px;
}

.recipe-details ul li strong {
    font-weight: bold;
    margin-right: 5px;
}

.recipe-details ul li span {
    color: #666;
}

.rank-item, .filtered-item{
    width: 50%;
    height: 10vh;
    line-height: 10vh;
    background-color: #ffffffd9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 4px;
    margin-bottom: 5px;

}

.filtered-item-container a{
    text-decoration: none;
    color: black;
}

.rank-item p, .filtered-item p{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.rank-item img, .filtered-item img{
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

.filtered-item-container:nth-child(2) .rank-item{
    background-color: rgb(247, 232, 129);
}

.filtered-item-container:nth-child(3) .rank-item{
    background-color: rgb(196, 195, 192);
}

.filtered-item-container:nth-child(4) .rank-item{
    background-color: rgb(176, 144, 107);
}

.search-tag-container{
    width: 100%;
    margin-bottom: 10px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: bisque;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-tag{
    background-color: #f1f1f1;
    width: 17vw;
    min-width: 15vw;
    margin: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*------home page posts------*/
.home-page-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 10px;
}

.recipe-item{
    margin: 20px;
    height: 20vw;
    width: 20vw;
    min-width: 15vw;
    min-height: 15vw;
    overflow: hidden;
    position:relative;
}

.recipe-item img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.recipe-item-footer{
    width:100%;
    position: absolute;
    bottom:0px;
    height:7vw;
    background-color: rgb(0,0,0,0.5);
    text-align: center;
    transition: height 0.5s;
}

.recipe-item-footer:hover{
    height: 20vw;
}

.recipe-item p{
    color: white;
    font-size: 2vw;
}

.recipe-item-footer > i{
    visibility: hidden;
    opacity: 0;
    color: white;
    transition: opacity 0.5s ease-in-out;
}

.recipe-item-footer:hover > i{
    visibility: visible;
    opacity: 1;
}