<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Blog :: post</title>
    <link th:href="@{/css/PostStyle.css}" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="recipe-post">
    <div class="recipe-header">
        <h2 class="title" th:text="${post.title}"></h2>
        <p th:text="'Created: ' + ${#dates.format(post.createdAt, 'dd-MMM-yyyy')} + ' by '+ ${post.author}"></p>
        <a></a>
        <div class="rating">Rating: <strong th:text="${post.avgRating}">/5</strong></div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-primary">Edit</button>
        <button type="button" class="btn btn-primary">Delete</button>
    </div>
</div>
<div class="recipe-image">
    <img th:src="${post.imgUrl}" alt="">
</div>
<div class="recipe-content">
    <div class="recipe-details">
        <ul>
            <li>
                <strong>Preparation time: </strong>
                <span th:text="${post.duration}">h</span>
            </li>
            <li>
                <strong>Difficulty level: </strong>
                <span th:text="${post.difficulty}">/5</span>
            </li>
            <li>
                <strong>Portion size: </strong>
                <span th:text="${post.howManyPortions}"></span>
            </li>
        </ul>
        <h3>Categories:</h3>
        <ul>
            <li th:each="category : ${post.categories}" th:text="${category.name()}"></li>
        </ul>
    </div>
</div>
<div>
    <a th:text="${post.description}"></a>
</div>
<hr>
<ul sec:authorize="isAuthenticated()">
<div class="add-comment">
    <form th:object="${post}" th:action="@{/posts/__${post.id}__}" method="post">
        <div th:object="${comment}">
            <textarea rows="8" cols="100" placeholder="Add comment..." th:field="${comment.content}"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" style="margin-bottom: 15px">Add comment</button>
    </form>
</div>
</ul>
<div class="comment-section">
    <div class="comment-object" th:each="comment : ${post.getComments()}">
        <span th:text="'Created: ' + ${#dates.format(comment.createdAt, 'dd-MMM-yyyy')} + ' by ' + ${comment.author}"></span>
        <p th:text="${comment.getContent()}"></p>
    </div>
</div>
</body>

</html>